/* Created Yunfeng Wang 7/1/2025 */

/* style.css */
body {
  font-family: sans-serif;
  background-color: #fefefe;
  padding: 20px;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

#screen, #memory {
  background-color: #e9f1ff;
  border: 2px solid #ccc;
  padding: 15px;
  font-size: 1.5rem;
  border-radius: 6px;
  min-height: 60px;
  word-wrap: break-word;
}
