/* Added Sam Cubberly 7 9 2025 to get the menu to be able to disappear */
.syntaxmenu {
    margin: auto;
    width: 35%;
    background-color: #2d2d30;
    text-align: center;
    border-radius: 30px;
    color: white;
}

.syntaxmenu h1, .syntaxmenu h2, .syntaxmenu h3, .syntaxmenu div, .syntaxmenu p{
    margin: 5px;
}

.syntaxmenu p{
    margin-left: 20px;
}

.info {
    text-align: left;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #3b3b3d;
    padding: 10px;
}

.hiddenMenu{
    display:none;
}
