<!--
Updated Sam Cubberly 7-8-2025
Displays all of the maingrid buttons
-->

<button id = "equalButton">Equal</button>
<button id = "clearButton">Clear</button>
<button id = "deleteButton">Delete</button>
