<!-- Created Sam Cubberly 7/9 to display rules -->
<div class = "syntaxmenu hiddenMenu">
    <h1>MENU</h1>
    
    <h2>Syntax:</h2>
    
    <div class = "info">
        <h3>Numbers: 0-9, "+/-", "."</h3>
        <p>To select, click the button representing.</p>
        <p>Integer syntax example: 12</p>
        <p>Float syntax example: 12.3</p>
        <p>Negative syntax example (click "+/-" button) on screen: -13.4</p>
    </div>
    
    <div class = "info">
        <h3>Operators: / , x , - , +</h3>
        <p>After writin an expression, select an operator</p>
        <p>On the right side, write another expression</p>
        <p>No two operators next to eachother</p>
        <p>Operator syntax example: {expr} op {expr}</p>
    </div>
    
    <div class = "info">
        <h3>Parenthesis</h3>
        <p>Select open or close parenthesis</p>
        <p>Each open parenthesis ust have a close, and open always comes before close.</p>
        <p>syntax example: ( {expr} )</p>
    </div>
    
    <div class = "info">
        <h3>Functions</h3>
        <p>Select a function</p>
        <p>A "[" will automatically be placed, then type your first argument as expression</p>
        <p>If there are two arguments, select the comma operator in between arguments</p>
        <p>End by selecting EndFunc</p>
        <p>Function syntax: func[ {expr} , {expr2} ] or func[ {expr} ]</p>
    </div>
    
    <div class = "info">
        <h3>Main Buttons</h3>
        <p>Equal Button: Calculates equation</p>
        <p>Clear Button: Clears the screen</p>
        <p>Delete Button: removes one character</p>
        <p>Menu Button: shows/hides this menu</p>
    </div>
    
</div>
