<!-- @author Oliver Shen -->
<!-- @created 7/3/2025 -->
<!-- @description Partial that generates all the function buttons for the scientific calculator -->

<button class="function" data-value="squared">x²</button>
<button class="function" data-value="sqrt">√x</button>
<button class="function" data-value="power">xʸ</button>
<button class="function" data-value="tenPower">10ˣ</button>
<button class="function" data-value="log10">log</button>
<button class="function" data-value="ln">ln</button>
<button class="function" data-value="reciprocal">1/x</button>
<button class="function" data-value="abs">|x|</button>
<button class="function" data-value="exp">exp</button>
<button class="function" data-value="mod">mod</button>
<button class="function" data-value="factorial">n!</button>