<!-- @author Oliver Shen -->
<!-- @created 7/3/2025 -->
<!-- @description Partial that generates all the function buttons for the scientific calculator -->

<button class="function" data-value="^2">x²</button>
<button class="function" data-value="√">√x</button>
<button class="function" data-value="^">xʸ</button>
<button class="function" data-value="10^">10ˣ</button>
<button class="function" data-value="log">log</button>
<button class="function" data-value="ln">ln</button>
<button class="function" data-value="1/">1/x</button>
<button class="function" data-value="|">|x|</button>
<button class="function" data-value="exp">exp</button>
<button class="function" data-value="mod">mod</button>
<button class="function" data-value="!">n!</button>
<button class="function" data-value="]">EndFunc</button>