<!-- @author Oliver Shen -->
<!-- @created 7/4/2025 -->
<!-- @description Partial that generates all the memory buttons for the scientific calculator -->

<button class="memory-control" data-action="MC">MC</button>
<button class="memory-control" data-action="Mplus">M+</button>
<button class="memory-control" data-action="Mminus">M-</button>
<button class="memory-control" data-action="MS">MS</button>
