<!-- @author Oliver Shen -->
<!-- @created 7/4/2025 -->
<!-- @description Partial that generates all the memory buttons for the scientific calculator -->

<button class="memory" data-value="MC">MC</button>
<button class="memory" data-value="MR">MR</button>
<button class="memory" data-value="Mplus">M+</button>
<button class="memory" data-value="Mminus">M-</button>
<button class="memory" data-value="MS">MS</button>
