<!-- @author Oliver Shen -->
<!-- @created 7/3/2025 -->
<!-- @description Partial that generates all the operator buttons for the calculator -->

<button class="operator" data-value="/">/</button>
<button class="operator" data-value="*">×</button>
<button class="operator" data-value="-">−</button>
<button class="operator" data-value="+">+</button>
