<!-- author Yunfeng Wang 7/3/2025 -->
<!-- generates the memory-history and screen -->

<div id="calculator-wrapper">
  <div id="calculator">
    <!-- Screen -->
    <div id="screen" class="display-screen">
      <p id="screen-output">0</p>
    </div>

  <!-- Side Panel -->
  <div id="side-panel" class="expanded">
    <div id="memory">
      <h3>Memory</h3>
      <p id="memory-display">[empty]</p>
    </div>

    <div id="history">
      <h3>History</h3>
      <ul id="history-list"></ul>
    </div>
  </div>
</div>