<!-- @author Anshuman Ranjan -->

<section id="calculator">
  <h1> Scientific Calculator </h1>

  <div id= "screen">
    <p> 0 </p>
  </div>
  <div id= "memory">
    <p> 0 </p>
  </div>
  <div id= "history">
    <p> Empty </p>
  </div>
  <div id= "buttons">
    <div id= "memory_buttons">
      <p> MC  MR  M+  M-  MS </p>
    </div>
    <div id="operations">
      <%= partial "partials/ops" %>
    </div>
    <div id="functions">
      <%= partial "partials/funcs" %>
    </div>
    <div id= "numbers">
      <%= partial "partials/numbers" %>
    </div>
  </div>
</section>